In [1]:
!pip install googletrans==3.1.0a0

Defaulting to user installation because normal site-packages is not writeable
WARNING: Ignoring invalid distribution -rotobuf (/home/smanduru/.local/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -rotobuf (/home/smanduru/.local/lib/python3.9/site-packages)
Requirement already satisfied: googletrans==3.1.0a0 in /home/smanduru/.local/lib/python3.9/site-packages (3.1.0a0)
Requirement already satisfied: httpx==0.13.3 in /home/smanduru/.local/lib/python3.9/site-packages (from googletrans==3.1.0a0) (0.13.3)
Requirement already satisfied: certifi in /opt/sw/spack/apps/linux-rhel8-x86_64_v2/gcc-10.3.0/python-3.9.9-jh/lib/python3.9/site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2021.10.8)
Requirement already satisfied: hstspreload in /home/smanduru/.local/lib/python3.9/site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2023.1.1)
Requirement already satisfied: sniffio in /opt/sw/spack/apps/linux-rhel8-x86_64_v2/gcc-10.3.0/python-3.9.9-jh/lib/python3.9/site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (1.2.0)
Requirement already satisfied: chardet==3.* in /home/smanduru/.local/lib/python3.9/site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (3.0.4)
Requirement already satisfied: idna==2.* in /home/smanduru/.local/lib/python3.9/site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2.10)
Requirement already satisfied: rfc3986<2,>=1.3 in /home/smanduru/.local/lib/python3.9/site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (1.5.0)
Requirement already satisfied: httpcore==0.9.* in /home/smanduru/.local/lib/python3.9/site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (0.9.1)
Requirement already satisfied: h11<0.10,>=0.8 in /home/smanduru/.local/lib/python3.9/site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (0.9.0)
Requirement already satisfied: h2==3.* in /home/smanduru/.local/lib/python3.9/site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (3.2.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in /home/smanduru/.local/lib/python3.9/site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (5.2.0)
Requirement already satisfied: hpack<4,>=3.0 in /home/smanduru/.local/lib/python3.9/site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (3.0.0)
WARNING: Ignoring invalid distribution -rotobuf (/home/smanduru/.local/lib/python3.9/site-packages)
WARNING: Ignoring invalid distribution -rotobuf (/home/smanduru/.local/lib/python3.9/site-packages)

[notice] A new release of pip is available: 23.1.2 -> 23.3.1
[notice] To update, run: pip install --upgrade pip

In [2]:
import googletrans
from googletrans import Translator

import pandas as pd
import numpy as np

import re

In [3]:
df = pd.read_csv("/scratch/smanduru/NLP/project/data/amazon_2048/amazon-books-2048-dev.tsv",
                 sep = '\t', header=0)

In [4]:
df['review'] = df['headline'].str.cat(df['text'], sep=' ')

In [5]:
df = df [['review', 'label']]

In [6]:
def clean(sentence):
    cleaned_sentence = re.sub(r'[^a-zA-Z0-9\s]', ' ', sentence)
    cleaned_sentence = re.sub(r'\s+', ' ', cleaned_sentence).strip()
    return cleaned_sentence.lower()

In [7]:
df['review'] = df['review'].apply(clean)

In [8]:
df

                                                review  label
0    entertaining fringe ravings one false claim af...      0
1    the enzyme treatment of cancer and its scienti...      4
2    a book that exudes passion for the gospel what...      4
3    carnism the psychology of meat eating recently...      3
4    incomplete not scientific not ready for the ho...      2
..                                                 ...    ...
995  yoga is nowhere to be found in this cd set i a...      0
996  gospel centered contentment some people love a...      3
997  great at telling us what not to do poor at tel...      3
998  verses from an exceptional person an extraordi...      4
999  dark masterpiece joseph conrad s most famous w...      4

[1000 rows x 2 columns]

In [9]:
sentences = df['review'].values.tolist()

In [10]:
translator = Translator()

In [11]:
print(googletrans.LANGUAGES)

{'af': 'afrikaans', 'sq': 'albanian', 'am': 'amharic', 'ar': 'arabic', 'hy': 'armenian', 'az': 'azerbaijani', 'eu': 'basque', 'be': 'belarusian', 'bn': 'bengali', 'bs': 'bosnian', 'bg': 'bulgarian', 'ca': 'catalan', 'ceb': 'cebuano', 'ny': 'chichewa', 'zh-cn': 'chinese (simplified)', 'zh-tw': 'chinese (traditional)', 'co': 'corsican', 'hr': 'croatian', 'cs': 'czech', 'da': 'danish', 'nl': 'dutch', 'en': 'english', 'eo': 'esperanto', 'et': 'estonian', 'tl': 'filipino', 'fi': 'finnish', 'fr': 'french', 'fy': 'frisian', 'gl': 'galician', 'ka': 'georgian', 'de': 'german', 'el': 'greek', 'gu': 'gujarati', 'ht': 'haitian creole', 'ha': 'hausa', 'haw': 'hawaiian', 'iw': 'hebrew', 'he': 'hebrew', 'hi': 'hindi', 'hmn': 'hmong', 'hu': 'hungarian', 'is': 'icelandic', 'ig': 'igbo', 'id': 'indonesian', 'ga': 'irish', 'it': 'italian', 'ja': 'japanese', 'jw': 'javanese', 'kn': 'kannada', 'kk': 'kazakh', 'km': 'khmer', 'ko': 'korean', 'ku': 'kurdish (kurmanji)', 'ky': 'kyrgyz', 'lo': 'lao', 'la': 'latin', 'lv': 'latvian', 'lt': 'lithuanian', 'lb': 'luxembourgish', 'mk': 'macedonian', 'mg': 'malagasy', 'ms': 'malay', 'ml': 'malayalam', 'mt': 'maltese', 'mi': 'maori', 'mr': 'marathi', 'mn': 'mongolian', 'my': 'myanmar (burmese)', 'ne': 'nepali', 'no': 'norwegian', 'or': 'odia', 'ps': 'pashto', 'fa': 'persian', 'pl': 'polish', 'pt': 'portuguese', 'pa': 'punjabi', 'ro': 'romanian', 'ru': 'russian', 'sm': 'samoan', 'gd': 'scots gaelic', 'sr': 'serbian', 'st': 'sesotho', 'sn': 'shona', 'sd': 'sindhi', 'si': 'sinhala', 'sk': 'slovak', 'sl': 'slovenian', 'so': 'somali', 'es': 'spanish', 'su': 'sundanese', 'sw': 'swahili', 'sv': 'swedish', 'tg': 'tajik', 'ta': 'tamil', 'te': 'telugu', 'th': 'thai', 'tr': 'turkish', 'uk': 'ukrainian', 'ur': 'urdu', 'ug': 'uyghur', 'uz': 'uzbek', 'vi': 'vietnamese', 'cy': 'welsh', 'xh': 'xhosa', 'yi': 'yiddish', 'yo': 'yoruba', 'zu': 'zulu'}

In [12]:
new_df = pd.DataFrame(columns = ['review', 'language', 'label'])
for index, row in df.iterrows():
    output = translator.translate(row['review'], src='en', dest='te')
    df2 = pd.DataFrame({'review' : output.text,
                       'language' : 'TE',
                       'label' : row['label']
                       }, index = [0])
    new_df = new_df.append(df2, ignore_index = True)
    if index % 100 == 0:
        print("Last run at index", index)

Last run at index 0
Last run at index 100
Last run at index 200
Last run at index 300
Last run at index 400
Last run at index 500
Last run at index 600
Last run at index 700
Last run at index 800
Last run at index 900

In [13]:
new_df

                                                review language label
0    గొప్ప సైన్స్ ఫిక్షన్ రచయిత ఫిలిప్ కె డిక్ కొన్...       TE     0
1    the enzyme treatment of cancer and its scienti...       TE     4
2    సువార్త పట్ల మక్కువను వెదజల్లుతున్న పుస్తకం, అ...       TE     4
3    మాంసాహారం యొక్క మనస్తత్వశాస్త్రం ఇటీవలి కాలంలో...       TE     3
4    incomplete not scientific not ready for the ho...       TE     2
..                                                 ...      ...   ...
995  యోగా ఈ సిడి సెట్‌లో ఎక్కడా కనిపించదు, యోగా మాత...       TE     0
996  సువార్త కేంద్రీకృత తృప్తి కొంతమంది వ్యక్తులు మ...       TE     3
997  మాకు ఏమి చేయకూడదని చెప్పడంలో పేలవంగా చెప్పటంలో...       TE     3
998  నజీమ్ హిక్మెత్ వంటి అసాధారణ కవి నుండి వచ్చిన ప...       TE     4
999  డార్క్ మాస్టర్ పీస్ జోసెఫ్ కాన్రాడ్ యొక్క అత్య...       TE     4

[1000 rows x 3 columns]

In [14]:
# new_df.loc[7996, 'review']

In [15]:
# new_df.to_csv('/scratch/smanduru/NLP/project/data/amazon_2048/2048_multi_dev.tsv', sep = '\t', index=False)

In [16]:
tdf = pd.read_csv("/scratch/smanduru/NLP/project/data/amazon_2048/2048_multi_dev.tsv",
                 sep = '\t', header=0)

In [17]:
tdf = tdf.append(new_df, ignore_index = True)

In [18]:
tdf

                                                 review language label
0     divertenti deliri marginali, una falsa afferma...       IT     0
1     the enzyme treatment of cancer and its scienti...       IT     4
2     un libro che trasuda passione per il Vangelo q...       IT     4
3     carnismo la psicologia del consumo di carne di...       IT     3
4     incomplete not scientific not ready for the ho...       IT     2
...                                                 ...      ...   ...
3995  యోగా ఈ సిడి సెట్‌లో ఎక్కడా కనిపించదు, యోగా మాత...       TE     0
3996  సువార్త కేంద్రీకృత తృప్తి కొంతమంది వ్యక్తులు మ...       TE     3
3997  మాకు ఏమి చేయకూడదని చెప్పడంలో పేలవంగా చెప్పటంలో...       TE     3
3998  నజీమ్ హిక్మెత్ వంటి అసాధారణ కవి నుండి వచ్చిన ప...       TE     4
3999  డార్క్ మాస్టర్ పీస్ జోసెఫ్ కాన్రాడ్ యొక్క అత్య...       TE     4

[4000 rows x 3 columns]

In [19]:
tdf.to_csv('/scratch/smanduru/NLP/project/data/amazon_2048/2048_multi_dev.tsv', sep = '\t', index=False)